.contact {
  padding: 6rem 0;
  display: flex;
  flex-direction: column;
  padding-top: calc(6rem + 5px);
  padding-bottom: 6rem;
}

@media (min-width: 992px) {
  .contact .page-section-heading {
    font-size: 3rem;
    line-height: 2.5rem;
    font-weight: 700;
  }
}